[build-system]
requires = ["setuptools>=61.0", "wheel"]
build-backend = "setuptools.build_meta"

[project]
name = "pyconjptv-expense-app"
version = "0.1.0"
description = "経費入力アプリ（デモ）"
readme = "README.md"
requires-python = ">=3.11"
dependencies = [
  "streamlit",
  "pandas",
]
